@media screen and (min-width: 480px){
}
@media screen and (max-width: 992px){
}
h2{
  border-style: solid;
  border-radius: 5px;
  background: black;
  padding: 20px;
  height: 20px;
  width: auto;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
}
body{
  background-color: #DBBEB3;
}
