@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
  background-color: #B6C3CC;
  font-family: 'Playfair Display', serif;
}
input[type=text], input[type=email] {
  background-color: #E2E8ED;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  padding: 6px;
  width: 100%;
  font-family: 'Playfair Display', serif;
}
input[type=text]:focus {
  border: 3px solid;
}

input[type=submit] {
  width: 80%;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  margin: 7px 0;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 28px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 4px;
}
input[type=submit]:hover {
  background-color: #343D52;
}
@media screen and (min-width: 480px){
  h2{
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    padding: 25px;
    height: 25px;
    width: auto;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
  }
  h3{
    margin: 10px;
    text-align: center;
    font-size: 28px;
    line-height: 34.297px; /* 2.144em */
  }
  button{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #B6C3CC;
    color: black;
    width: 30%;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    padding: 10px 16px;
  }
  #c-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  #c1{
    border-style: solid;
    border-radius: 5px;
    background: #E2E8ED;
    height: 430px;
    width: 550px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
    line-height: 50.215px; /* 3.138em */
  }
  #c2{
    border-style: solid;
    border-radius: 5px;
    background: #E2E8ED;
    height: 430px;
    width: 550px;
    margin-right: 585px;
    text-align: center;
    font-size: 25px;
    line-height: 50.215px;/* 3.138em */
  }
}


@media screen and (max-width: 992px){
  h2{
    border-style: solid;
    border-radius: 5px;
    background: black;
    width: auto;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
  }
  h3{
    text-align: center;
    font-size: 20px;
  }
  button{
    background-color: #E2E8ED;
    color: black;
    width: 30%;
    border-radius: 4px;
    border: none;
    margin-left: 175px;
    padding: 10px 16px;
  }

  #c1{
    border-style: solid;
    border-radius: 5px;
    background: #E2E8ED;
    height: 280px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 23px;
    line-height: 45.65px; /* 2.853em */
  }
  #c2{
    border-style: solid;
    border-radius: 5px;
    background: #E2E8ED;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 34.297px; /* 2.144em */
  }
  #c-container{
    display: inline;
  }
  #quote{
    visibility: hidden;
  }
}
