body{
  background-color: #DBBEB3;
  font-family: 'Playfair Display', serif;
}
input[type=text], input[type=email] {
  background-color: #FBEEE6;
  color: black;
  border: none;
  border-bottom: 2px solid black;
}
input[type=text]:focus {
  border: 3px solid;
}

input[type=submit] {
  width: 80%;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  margin: 7px 0;
  padding: 10px 16px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: lightblue;
}

@media screen and (min-width: 480px){
  h2{
    border-style: solid;
    border-radius: 5px;
    background: black;
    padding: 20px;
    height: 20px;
    width: auto;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Cardo', serif;
    font-size: 34px;
  }
  h3{
    margin: 10px;
    text-align: center;
    font-size: 28px;
  }
  button{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #FBEEE6;
    color: black;
    width: 30%;
    border-radius: 4px;
    border: none;
    margin-left: 420px;
    padding: 10px 16px;
  }
  #c-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  #c1{
    border-style: solid;
    border-radius: 5px;
    background: #FBEEE6;
    height: 280px;
    width: 550px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
  }
  #c2{
    border-style: solid;
    border-radius: 5px;
    background: #FBEEE6;
    height: 280px;
    width: 550px;
    margin-right: 585px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
}


@media screen and (max-width: 992px){
  h2{
    border-style: solid;
    border-radius: 5px;
    background: black;
    padding: 15px;
    height: 15px;
    width: auto;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 28px;
  }
  h3{
    text-align: center;
    font-size: 20px;
  }
  button{
    background-color: #FBEEE6;
    color: black;
    width: 30%;
    border-radius: 4px;
    border: none;
    margin-left: 175px;
    padding: 10px 16px;
  }

  #c1{
    border-style: solid;
    border-radius: 5px;
    background: #FBEEE6;
    height: 280px;
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 23px;
    line-height: 40px;
  }
  #c2{
    border-style: solid;
    border-radius: 5px;
    background: #FBEEE6;
    height: 300px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  #c-container{
    display: inline;
    width: 80%;
  }
}
